
body {
    background-color: black;
    margin: 0;
    font-family: Arial, Helvetica;
}

#local-video-container {
    display: none;
}

.msg-display {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    width: 240px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 20px;
}
.msg-display:empty {
    display: none;
}

#msg {
    top: 10px;
}

#prompt {
    display: none;
    bottom: 10px;
}
.live #prompt {
    display: block;
}

.loading #start-btn, .live #start-btn {
    display: none;
}

#avatar-video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#start-btn {
    position: absolute;
    margin: 20px;
    font-size: 16px;
    z-index: 9;
}

#end-btn {
    display: none;
    position: absolute;
    margin: 20px;
    font-size: 16px;
    z-index: 9;
}
.live #end-btn {
    display: block;
}


#transcript, #local-transcript {
    background-color: rgba(255,255,255,0.7);
    color: #333333;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px 4px;
}

#local-transcript {
    bottom: 60px;
}

#transcript:empty, #local-transcript:empty {
    display: none;
}

.mySlides {
    display: none;
    width: 100%;
}

.btn-small {
    background-color: Plum;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn-small:hover {
    background-color: Orchid;
}

#btn-talk {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 20px;
    width: 151px;
    display: block;
}